
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Singing</h2>
          
          <%= image_tag "singing.jpg", size: "200", :class => "img-circle" %>
          
          <br><br>
          <p>When I was 10, I realized that I was a really well vocalize singer. 
          I practiced most days with my Step-mom because she was a singer as well. We sang 
          Gospel songs most of the time because she was a choir teaher for her group. I didn't really 
          take singing lessons when I was younger, I only had my step-mom to teach me on the weekends.</p>
          
          <p>Over the summer I would spend my break over my dad's house and my step-mom would help me with my 
          vocals when she was free. I joined a choir group over the summer, and I sang duets with one of my friends. 
          Currently I am living with my Mom, sometimes I would make a 1 or 2 mintute video just to see how my vocals were like. 
          My mom is planning to take me to singing class over the summer then my vocals can be stronger.</p>
        </div>
      </div>
    </div>
          