  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome!</h1>
          <p>Check out my website! You can click on my profile, sports, or hobbies! Below the picture is some of the team members 
          of the Mather Track and Field</p>
            <br>
          <%= image_tag ("whole-team.jpg"), :alt => "Team", :class => "team" %>
        </div>
      </div>
          <br>
          
        <div class="row">
          <div class="col-md-6">
            <h2>Mather Track Team</h2>
            <%= image_tag ("run-with-pass.jpg"), :alt => "Pass", :class => "img-circle" %>
              <p>I've ran for 7 years now. It keeps me healthy and in shape. I practice with my team everyday. I also joined the Mather Cross Country team.</p>
            <p><a class="btn btn-primary" href="personal" role="button">View details &raquo;</a></p>
          </div>
        
          <div class="col-md-6">
            <h2>Singing</h2>
            <%= image_tag ("mic.png"), :alt => "Microphone", :class => "img-circle" %>
              <p>When I was 10 years old, I was really good as a vocalize singer. My step-mother is a singer, so I practiced everyday.</p>
            <p><a class="btn btn-primary" href="personal" role="button">View details &raquo;</a></p>
          </div>
        </div>
    </div>
  </body>
  </html>     