
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container"><div class="row">
      <div class="col-lg-12">
      <div >
        <%= image_tag "rebecca.jpg", size: "200", class: "img-circle" %>
      </div> 
    
        <h2>Rebecca Odusola</h2>
        <p>My name is Rebecca, I am a junior at Mather high school. I live in chicago with my mom, 
        I have two step siblings and they both live with my dad and his wife. I sometimes visit them 
        on the weekends if I am not busy.</p>
        <br>
        <br>
      </div><!-- /.col-lg-4 -->
    </div>
    
  <div class="row">
    <div class="col-lg-6">
      <p>I'm currently in the Mather Track and Field. I've ran in first place in the D.M.R. I also ran in a 800 meter 
      run within 2 minutes and 23 seconds on April 16. In April 23, I ran another 800 meter within 2 minutes and 19 seconds. That's 
      4 seconds less than the last run!</p>
    </div>
    
    <div class="col-lg-6">
      <%= image_tag ("800.jpg"), :alt => "800 meter run 2", :class => "img-circle run2" %>
    </div>
  </div>