<div class="container">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("800-run.jpg"), :alt => "800 Run" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Track and Field</h1>
              <p>I've ran in a 800 meter within 2:19</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag ("team.jpg"), :alt => "Team" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Track and Field</h1>
              <p> I run for Mather High school, this is some of the team members.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag ("full-team.jpg"), :alt => "Whole Team" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Track and Field</h1>
              <p>I love running because I get awards for my hardwork and i'm always staying in shape.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    <br>
   <p class="me">I have been running for 7 years now. Currently on the Mather track and field team and also the cross-country team. I love pushing myself to the limits because when I do there are results from it that I see. Like when I win medals. It makes me feel good about my training and myself.</p>
  </div>